<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
  <%- include('./includes/head') -%>
  <body>
    <%- include('./includes/nav') -%> <%- include('./includes/footer') -%>

    <div class="container mt-5 p-4 bg-light border border-1 rounded">
      <h1 class="display-4 mb-4">به پنل خود خوش آمدید</h1>
      <p class="lead">
        همین حالا برای مدیریت شرکت و کارمندان خویش پنل اختصاصی خود را بسازید
      </p>
      <hr class="my-4" />
      <p>لطفا ابتدا ثبت نام کنید یا وارد شوید</p>
      <a class="btn btn-success btn-lg" href="#" role="button">ثبت نام</a>
    </div>
  </body>
</html>
