<footer class="text-muted bg-dark">
  <div class="container text-center">
    <p class="text-light py-1">
      تمامی حقوق مادی و معنوی متعلق به خداوند تبارک و تعالی می باشد.
    </p>
    <p class="text-light">توسعه و طراحی توسط پدرام آقاسیان</p>
  </div>
</footer>
