<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>شرکت ها</title>
<!-- <link rel="shortcut icon" href="img/logo.jpg" type="image/x-icon" /> -->
<link rel="stylesheet" href="/css/bootstrap.rtl.min.css" />
<link rel="stylesheet" href="/css/vazir.css" />
<link rel="stylesheet" href="/css/home.css" />
<script src="/js/bootstrap.bundle.min.js" defer></script>

